ข้อสอบ 3.json
{
  "name": "ข้อสอบ 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1760dc47-7c11-456b-adc1-da69df9185ac",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://r.jina.ai/https://www.livinginsider.com/searchword/all/Buysell/1/%E0%B8%A3%E0%B8%A7%E0%B8%A1%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%B2%E0%B8%A8%E0%B8%82%E0%B8%B2%E0%B8%A2-%E0%B9%80%E0%B8%8A%E0%B9%88%E0%B8%B2-%E0%B8%84%E0%B8%AD%E0%B8%99%E0%B9%82%E0%B8%94-%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99-%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%94%E0%B8%B4%E0%B8%99.html",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_3a5c85fabde7448da6f0bbeb69e7fb08Y2yBHyCa9lIfg5XyfTOW1ZmBH1Rm"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "71e55ea6-3f24-4ec8-aa61-88326f782b2f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// รับค่า Markdown จาก Node HTTP Request\n// (ถ้า Jina คืนค่ามาเป็น text ตรงๆ ให้ใช้ $input.first().json.data)\nlet markdownContent = $input.first().json.data || $input.first().json; \n\n// หั่นข้อความด้วยคำว่า \"ติดต่อ\\n\"\nlet blocks = markdownContent.split(\"ติดต่อ\\n\");\nlet result = [];\n\n// วนลูปเพื่อจัดรูปแบบ (เริ่มจาก index 1 เพราะ index 0 คือส่วน Header ของเว็บ)\nfor (let i = 1; i < blocks.length; i++) {\n  let blockText = blocks[i].trim();\n\n  // กรองเอาเฉพาะบล็อคที่มีสัญลักษณ์ \"฿\" (เพื่อยืนยันว่าเป็นประกาศขาย/เช่าจริงๆ)\n  if (blockText.includes(\"฿\")) {\n    \n    // สร้าง ID จำลองขึ้นมาเพื่อใช้เช็คซ้ำใน Node Compare Datasets\n    let listing_id = \"JINA\" + (Math.floor(Math.random() * 900000) + 100000);\n\n    result.push({\n      json: {\n        listing_id: listing_id,\n        raw_text: blockText, // ส่งก้อนข้อความนี้ให้ AI Agent ดึงข้อมูลต่อ\n        fetched_at: new Date().toISOString()\n      }\n    });\n  }\n}\n\n// จำกัดจำนวนส่งให้ AI (เช่น 5 รายการ) เพื่อประหยัดเวลาและ Token\nreturn result.slice(0, 5);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "244329ed-3366-4f42-9581-ef04fdd4823a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=วิเคราะห์ข้อมูลประกาศอสังหาริมทรัพย์ต่อไปนี้:\n{{ $json.raw_text }}\n\nจงสกัดข้อมูลและตอบกลับเป็น JSON Format โดยมี Key ดังต่อไปนี้เท่านั้น:\n1. \"title\": ชื่อประกาศหรือรายละเอียดหลัก (String)\n2. \"price_thb\": ราคาขาย แปลงเป็นตัวเลขจำนวนเต็มเท่านั้น เช่น 4200000 (หากมีราคาเต็มและราคาลด ให้เลือกรคาลดที่ถูกกว่า) (Number)\n3. \"property_category\": ระบุประเภทอสังหาฯ โดยเลือกตอบแค่ \"คอนโด\", \"บ้าน\", \"ทาวน์โฮม\", \"ที่ดิน\", หรือ \"อื่นๆ\" (String)\n4. \"is_owner_sale\": วิเคราะห์ว่าเป็นเจ้าของขายเองหรือไม่ (Boolean: true/false) \nให้ตอบ true ก็ต่อเมื่อในข้อความมีคำว่า \"เจ้าของขายเอง\", \"Owner\" หรือไม่มีลักษณะของเอเจนต์\nให้ตอบ false หากมีลักษณะของเอเจนต์ เช่น มีคำว่า \"รหัสทรัพย์\", \"รับ Co-agent\", \"Agent post\", \"ยินดีรับนายหน้า\", หรือมีชื่อบริษัท\n(หากข้อมูลไม่ชัดเจน ให้สันนิษฐานไว้ก่อนว่าเป็น false)\n5. \"url\": ดึงลิงก์ URL ของประกาศนั้นออกมา (String)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert Thai real estate data extractor. Your task is to extract information from the provided markdown text and return strictly a valid JSON object. Do not include any explanations or markdown wrappers like ```json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        0
      ],
      "id": "0b722cdd-6188-4ba8-9042-ec44945279cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "minimax-m2.7:cloud",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        576,
        176
      ],
      "id": "095fe503-df3e-4a42-ad83-b16b8ac9918f",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "UDoGAgfMbhpKMHL8",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"ขายห้องใหม่ยังไม่เคยมีคนอยู่ ใกล้ BTS สะพานควาย\",\n  \"price_thb\": 4200000,\n  \"property_category\": \"คอนโด\",\n  \"is_owner_sale\": false,\n  \"url\": \"[https://www.livinginsider.com/detail/](https://www.livinginsider.com/detail/)...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        784,
        176
      ],
      "id": "cbd408c6-09ec-4074-bd69-dde0edc74d31",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12psZ5jhRTcK7tKbq4q_Xt1DZ7Xk90AhWUb-AewSda-E",
          "mode": "list",
          "cachedResultName": "livinginsider_dataset",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12psZ5jhRTcK7tKbq4q_Xt1DZ7Xk90AhWUb-AewSda-E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "listing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12psZ5jhRTcK7tKbq4q_Xt1DZ7Xk90AhWUb-AewSda-E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.output.title }}",
            "price_thb": "={{ $json.output.price_thb }}",
            "property_category": "={{ $json.output.property_category }}",
            "is_owner_sale": "={{ $json.output.is_owner_sale }}",
            "url": "={{ $json.output.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_thb",
              "displayName": "price_thb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_category",
              "displayName": "property_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "is_owner_sale",
              "displayName": "is_owner_sale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "44d7522d-b0aa-47ab-b495-ca10fc062c31",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4qhsyKmU0Wzb54qz",
          "name": "scottrifer"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "to": "U7318df1f8dbdab569883bdf8680a150e",
        "messages": {
          "values": [
            {
              "text": "=🔔 แจ้งเตือน! มีประกาศอสังหาฯใหม่\n\n🏠 ประเภท: {{ $json.property_category }}\n💰 ราคา: {{ $json.price_thb.toLocaleString() }} บาท\n📝 ชื่อประกาศ: {{ $json.title }}\n👤 เจ้าของขายเอง: {{ $json.is_owner_sale ? '✅ ใช่' : '❌ ไม่ใช่' }}\n🔗 ดูรายละเอียด: {{ $json.url }}"
            }
          ]
        }
      },
      "type": "@aotoki/n8n-nodes-line-messaging.lineMessaging",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "a51f4f4c-0542-4865-8aa7-7dece9f7af86",
      "name": "Line Messaging",
      "credentials": {
        "lineMessagingApi": {
          "id": "eTvda1BHw8qw0rCi",
          "name": "เมคสมเสร็จ"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Line Messaging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9e0362b3-65c4-4fd3-9f13-afff7bdfb85b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbf87187cde16226ec192b41d6813bb9c7de3ad8b91b7986cfe79c107a9b53ea"
  },
  "id": "wQr2R2FVeBTR8FVZ",
  "tags": []
}
